body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F8F8F8;
    }
header { 
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 20px;
}
header > img { 
    float: left;
    width:15%;
}
nav {
    float:right;
    margin-top: 7px;
}
a {
    color:#919090;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
    line-height: 20px;
    border: 3px solid transparent;
    border-radius: 18px;
}
a:last-child {
    border-color:#B1B1B1;
    text-transform: uppercase;
    margin-left: 30px;
}
main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 20px;
}
div {
    width: 40%;
    float: left;
    margin-top: 60px;
    margin-left: 5%;
    }
h1 {
    font-size: 100px;
    margin:0; 
    color:#9E9E9E;
    
}
p {
    font-size: 30px;
    margin: 0;
    color:#adadad;
    }

main > img {
    display: inline-block;
    width: 55%;
    float: right;
    
    

}